.area {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    margin-bottom: 50px;
    color: balck
  }
  .jumbotron
  {
    padding: 0rem 0rem;
    background-color: #113CCF
  }


  